data/
.idea
.project
task1/out/
task2/out/
subset_param_log.txt
.ipynb_checkpoints/
.DS_Store
.metadata/
cnn/logs/
cnn/pickles/
cnn_data/jjOnly.tsv
cnn_data/jnMix.tsv
cnn_data/jnSep.tsv
cnn_data/nnOnly.tsv
cnn_data/rawText.tsv
cnn_data/rawText_lemmatized.tsv
cnn/embeddings_index.pkl
